.logincont{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: black;
}

.boton-iniciaSesion-container{
    position: relative;
    left: 480px; 
    top: 50px; 
    display: flex;

}

.boton-inicia-sesion{
    /*text-decoration: none;*/
    width: 400px;
    padding: 0 1.5em;
    color: white;
    border-radius: 2em;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background: rgb(192, 108, 12);
    line-height: 3;
  }
  .boton-inicio-sesion:hover{
    background-color: rgb(197, 120, 5);
  }
  .boton-inicio-sesion:active{
    transform: scale(.99);
  }

  .olvide{
    margin-left: 760px; 
    margin-top: -45px; 
    color: gray;
    text-decoration: underline;
    font-size: 15px;
  }

  .cuentaLog{
    margin-left: 685px; 
    margin-top: 100px;
    color: gray;
    font-size: 15px;
  }

  .registrate{
    margin-left: 855px; 
    margin-top: -22px; 
    color: rgba(44, 75, 142, 1);
    font-weight: bold;
    font-size: 15px;
  }

  .titulo{
    margin-left: 340px;
  }

  .labelCorreo{
    margin-left: 330px;

  }
  
  .inputCorreo{
    width: 500px;
    margin-left: 330px;
  }

  .inputContraseña{
    width: 500px;
    margin-left: 330px;
  }


  .labelContraseña{
    margin-left: 330px;

  }
  
