.title1{
    color: rgb(17, 16, 16);
    font-size: 38px;
    margin: 0px 0px 0px 60px;
    font-weight: bold;
}


.categorias{
    margin: 10px 0px 0px 190px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}
.comunidad{
    margin: 10px 0px 0px 390px;
    font-weight: bold;
    color: gray;
    font-size: 18px;
}
/*.contcursos{
  width: 617px;
  max-width: 640px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 3em;


  display: grid;
 grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}*/

.button1{
    background-color: white;
    font-size: 22px;
    padding: none;
    border:none;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
    color: rgb(143, 142, 142);
    
}
.button1:hover{
color: black;
}

.button2{
    background-color: white;
    border: none;
    padding:none;
    font-size: 22px;
    margin: 0px 0px 0px 55px;
    cursor: pointer;
    color:rgb(143, 142, 142) ;
}
.button2:hover{
    color: black;
}

.button3{
    background-color: white;
    border: none;
    padding:none;
    font-size: 22px;
    margin: 0px 0px 0px 55px;
    cursor: pointer;
    color:rgb(143, 142, 142) ;
}
.button3:hover{
    color: black;
}
.button4{
    background-color: white;
    border: none;
    padding:none;
    font-size: 22px;
    margin: 0px 0px 0px 55px;
    cursor: pointer;
    color:rgb(143, 142, 142) ;
}

.button4:hover{
    color: black;
}
.videos{
    height: 6em;
    width: 9.5em;
}
.seccion-course{
    margin: 0px 0px 0px 10px;

}

.tit-estrella{
width: 14em;
position: relative;
font-weight: bold;
font-size: 15px;
}

.curso1{
  
    height: 10em;
    width: 9.5em;
    margin-left: 0em;
    margin-top: 2em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
}

.curso2{
    height: 10em;
    width: 9.5em;
    margin-left: 11em;
    margin-top: -10em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
}

.curso3{
    height: 10em;
    width: 9.5em;
    position: absolute;
    margin-left: 22em;
    margin-top: -10em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
}

.curso4{
    height: 10em;
    width: 9.5em;
    margin-left: 33em;
    margin-top: -10em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
}

.title2{
    margin-top: 1em;
    margin-left: 1em;
    color: rgb(80, 79, 79);
}

.title3{
    margin-top: 1em;
    margin-left: 1em;
    color: rgb(80, 79, 79);
    
}
.icon-document{
    margin-left: 1em;
    margin-top: 1em;
    font-size: 50px;
    color: rgb(7, 143, 64);
    cursor: pointer;
}
.icon-document2{
    margin-left: 1em;
    margin-top: 1.5em;
    font-size: 50px;
    color: rgb(121, 6, 82);
    cursor: pointer;
}
.icon-download{
    margin: -50px 0px 0px 1150px;
    font-size: 50px;
    position:absolute;
    color: rgb(114, 112, 112);
    cursor: pointer;
}

.textdocument{
    margin: -50px 0px 0px 200px;
    font-weight: bold;
    color: black;
}

.description{
    margin: 3px 0px 0px 200px;
    font-size: 14px;
    color: rgb(150, 148, 148);
    font-weight: bold;
}

.icon-task{
    margin: 50px 0px 0px 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(211, 7, 177);
    cursor: pointer;
}


.icon-task2{
    margin: 50px 0px 0px 50px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 1.5em;
    color: rgb(220, 241, 28);
    cursor: pointer;
}

.icon-upload{
    margin: -50px 0px 0px 1150px;
    font-size: 50px;
    position:absolute;
    color: rgb(114, 112, 112);
    cursor: pointer;
}

/*
.text1{
    margin: 20px 0px 0px 70px;
    font-size: 18px;
}

.text2{
font-size: 18px;
font-weight: bold;
margin: 55px 0px 0px 70px;
}

.text3{
    margin:40px 0px 0px 70px ;
    font-size: 18px;
    font-weight: bold;
}

.text4{
margin: 90px 0px 0px 70 px;
font-size: 18px;
font-weight: bold;
}
*/
/*.tit-estrella{
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px -200px;
}
*/

/*
.contcourse{
    width: 617px;
    max-width: 640px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 3em;
  
  
    display: grid;
    grid-template-columns: repeat(1, 3fr);  
    grid-gap: 30px;
    
}*/


.agregar{
    /*text-decoration: none;*/
    width: 200px;
    text-align: center;
    padding: 0 1.5em;
    color: white;
    border-radius: 2em;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background: rgb(192, 108, 12);
    line-height: 3;
    margin-left: 7em;
    margin-top: 2em;
}
.agregar:hover{
    background-color: rgb(197, 120, 5);
}
.agregar:active{
    transform: scale(.99);
}

.Titulo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 5em;
    margin-top: 1.5em;
}
.Titulo2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5em;
    margin-top: 2em;
}
.Titulo3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: gray;
}
.Titulo4{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: gray;
}

.agregar-tarea{
    margin-top: 4em;
    margin-left: 24em;
    width: 650px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
}

.modulo1{
    margin-top: 5em;
    margin-left: 5em;
    height: 8em;
    width: 80em;
    padding: 20px 20px 20px 20px;
    border-style: solid none solid none;
    border-color: #cecccc;
}
.icono-libro{
    height: 5em;
    width: 5em;
    color: green;
}
.icono-libro2{
    height: 5em;
    width: 5em;
    color: purple;
}

.modulo1-titulo{
    font-size: 20px;
    font-weight: bold;
    margin-left: 6em;
    margin-top: -4em;
}
.modulo1-subt{
    font-size: 15px;
    font-weight: bold;
    margin-left: 8em;
    margin-top: 1em;
    color: #cecccc;
}
.icono-puntos{
    height: 3em;
    width: 3em;
    margin-left: 70em;
    margin-top: -4em;
}

.icono-upload{
    height: 12em;
    width: 12em;
    margin-left: 16em;
    margin-top: 3em;

}

.agregar2{
    /*text-decoration: none;*/
    width: 200px;
    text-align: center;
    padding: 0 1.5em;
    color: white;
    border-radius: 2em;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background: rgb(192, 108, 12);
    line-height: 3;
    margin-left: 16em;
    margin-top: 5em;

}
.agregar2:hover{
    background-color: rgb(197, 120, 5);
}
.agregar2:active{
    transform: scale(.99);
}

.desc1{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: gray;
    width: 300px;
    margin-left: 16em;
    margin-top: 4em;
}



.seccion-nomcurso{
    background-color: white;
    border-radius: 15px;
    margin-left: 1em;
    margin-top: 1em;
    width: 850px;
    height: 650px;
    padding: 20px 20px 20px 20px;
}

.titulo2{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.titulo3{
    font-size: 18px;
    font-weight: bold;
}
.video-sim{
    width: 800px;
    height: 500px;
}

/* lista de menu desplegable izquierda*/
.seccion-lista-curso{
    width: 400px;
    height: 80px; 
    background-color: rgb(186, 186, 243);
    border-color: gray;
    margin-left: 60em;
    margin-top: -35em;
}

.seccion-lista-curso2{
    width: 400px;
    height: 80px; 
    background-color: rgb(186, 186, 243);
    border-color: gray;
    margin-left: 60em;
    margin-top: 1em;
}
.seccion-lista-curso3{
    width: 400px;
    height: 80px; 
    background-color: rgb(186, 186, 243);
    border-color: gray;
    margin-left: 60em;
    margin-top: 1em;
}
.seccion-lista-curso4{
    width: 400px;
    height: 80px; 
    background-color: rgb(186, 186, 243);
    border-color: gray;
    margin-left: 60em;
    margin-top: 1em;
}
.seccion-lista-curso5{
    width: 400px;
    height: 80px; 
    background-color: rgb(186, 186, 243);
    border-color: gray;
    margin-left: 60em;
    margin-top: 1em;
}



/*termina*/


.seccion-sobre{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
    margin-left: 1em;
    margin-top: 1em;
    width: 350px;
    height: 450px;
    padding: 20px 20px 20px 40px;
}

.seccion-acerca-prof{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
    margin-left: 20em;
    margin-top: -20.5em;
    width: 350px;
    height: 450px;
    padding: 20px 20px 20px 40px;
    text-align: center;
}
.icono-profe2{
    width: 150px;
    height: 150px;
}


.seccion-valor{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #cecccc;
    margin-left: 39em;
    margin-top: -20.5em;
    width: 350px;
    height: 450px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.icono-sta{
    width: 50px;
    height: 50px;
    color: yellow;

}

.des-profe-cursos{
    font-size: 15px;
}