.input-container {
    width: 100%;
    /* left: 1030px; */
    top: -10px;
    position: relative;
}

.input-style {
    border-radius: 15px;
    border: none;
    justify-content: left;
    /*left: 100;*/
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    /*margin-left: 500px;*/
    font-size: 14px;
    background-color: whitesmoke;
}

.input-style::placeholder{
    font-size: 14px;
    color: gray;
    opacity: 0.8;
    width: 80%;
    height: 35px;
}

.input-error{
    border: 1.5px solid red;
    color: red;
    background: rosybrown;
    width: 30%;
    height: 35px;
    border-radius: 15px;
    border: none;
    justify-content: left;
    /* left: 100; */
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    /* margin-left: 500px; */
    font-size: 14px;
}

.input-error::placeholder{
    color: red;

}