*{ text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* .texto2{
    margin: 30px 0px 0px 440px;
    color: rgb(25, 25, 187);
} */

/* .profe1{
    -webkit-filter: grayscale(100%)
    brightness(25%) sepia(80%)
    hue-rotate(-180deg)
    saturate(72%)
    contrast(0.8);
    filter: grayscale(70%)
    brightness(30%)
    sepia(100%)
    hue-rotate(-180deg)
    saturate(500%)
    contrast(0.8);
    margin: 40px 0px 0px 0px;
    border-radius: 50%;
    width: 70%;
    height: 70%;
} */

/* .container{
    text-decoration: none;
    list-style: none;
    color: rgb(11, 11, 12);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 0px 0px 130px;
    text-align: center;
    grid-gap:60px;
}
.sub-text{
    color: rgb(153, 149, 149);
    font-style: oblique;
    padding: 1em;
    

}

.item-text{
    text-decoration: none;
    list-style: none;
    padding: 3em;
    color: rgb(5, 5, 5);
} */