.titlecont label {
    color: rgba(44, 75, 142, 1);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}