.label {
    color: rgba(67, 71, 76, 1);
    font-size: 18px;
    display: flex;
    justify-content: left;
    /*margin-top: 30px;*/
    padding-left: 100px;
    align-items: left;
    height: 40px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}