.plancont{
    display: flex;
    flex-direction: column;
    color: black;
}

.boton-inicio-container{
    position: relative;
    left: 150px; 
    top: 25px; 
    display: flex;

}

.boton-inicio-sesion{
    /*text-decoration: none;*/
    width: 400px;
    padding: 0 1.5em;
    color: white;
    border-radius: 2em;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background: rgb(192, 108, 12);
    line-height: 3;
  }
  .boton-inicio-sesion:hover{
    background-color: rgb(197, 120, 5);
  }
  .boton-inicio-sesion:active{
    transform: scale(.99);
  }

.headerSection{
  background-color: blue;
}





  .aprende{
    margin-left: 120px; 
    margin-top: 15px; 
    justify-content: center;
    color: gray;
    font-weight: bold;
    font-size: 40px;
  }

  .inscribete{
    margin-left: 200px; 
    margin-top: 25px; 
    justify-content: center;
    color: silver;
    font-size: 15px;
    font-weight: bold;
  }

  .cuenta{
    margin-left: 340px; 
    margin-top: 50px;
    color: gray;
    font-size: 15px;
  }

  .inicia{
    margin-left: 510px; 
    margin-top: -21px; 
    color: rgba(44, 75, 142, 1);
    font-weight: bold;
    font-size: 15px;
  }

  .registro{
    width: 670px;
    height:656px;
    margin-left: 679px;
    margin-top: 1px;
    /*margin: 0px 0px 0px 0px;*/
    position: absolute;
  }

  .inputNombre{
    width: 500px;
  }

  .inputUsuario{
    width: 500px;
  }

  .inputContraseñaReg{
    width: 500px;
  }

 