.plancont{
    display: flex;
    flex-direction: column;
    color: black;
}

.headerSection{
  background-color: white;
  z-index: 2;
  height: 130px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #cecccc;
}

.logo{
  width: 250px;
  height: 60px;
  margin-left: 40px;
  margin-top: 30px;
}


.section-left{
  width: 900px;
  height: 1300px;
  background-color: white;
}


.comienza{
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.compromiso{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.plan{
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: blue;

}


.tit-plan{
  font-family : "Avenir Next";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.des-plan{
  padding: 20px 20px 20px 20px;
  font-family : "Avenir Next";
  font-size: 15px;
  text-align: center;
}

.cont-gratis{
  width: 250px;
  height: 400px;
  margin-left: 50px;
  margin-top: 60px;
  position: absolute;
  background-color: white;
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px #cecccc;
  z-index: 1;
}

.cont-mensual{
  width: 250px;
  height: 400px;
  margin-left: 300px;
  margin-top: 60px;
  position: absolute;
  background-color:white;
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px #cecccc;
  z-index: 3;
}

.cont-anual{
  width: 250px;
  height: 400px;
  margin-left: 550px;
  margin-top: 60px;
  position: absolute;
  background-color:white;
  padding: 40px 20px 20px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 10px #cecccc;
  z-index: 2;
}

.boton-convierte{
  text-decoration: none;
  position: absolute;
  margin-top: 28vh;
  margin-left: 1vh;
  display: inline-block;
  background: rgba(192, 108, 12, 0.877);
  line-height: 30px;
  width: 200px;
  padding: 0.5em 0.5em;
  color: white;
  border-radius: 20px;
  text-align: center;

}
.boton-convierte:hover{
  background-color: rgb(197, 120, 5);
}
.boton-convierte:active{
  transform: scale(.99);
}

.forma-pago{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: blue;
  margin-left: 50px;
  margin-top: 550px;
}

.boton-paypal{
  text-decoration: none;
  position: absolute;
  margin-top: 8vh;
  margin-left: 15vh;
  display: inline-block;
  background: rgba(192, 108, 12, 0.877);
  line-height: 30px;
  width: 200px;
  padding: 0.5em 0.5em;
  color: white;
  border-radius: 20px;
  text-align: center;

}
.boton-paypal:hover{
  background-color: rgb(197, 120, 5);
}
.boton-paypal:active{
  transform: scale(.99);
}


.cupon{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: blue;
  margin-left: 50px;
  margin-top: 200px;
}

.boton-continuar{
  text-decoration: none;
  position: absolute;
  margin-top: 10vh;
  margin-left: 15vh;
  display: inline-block;
  background: rgba(192, 108, 12, 0.877);
  line-height: 30px;
  width: 200px;
  padding: 0.5em 0.5em;
  color: white;
  border-radius: 20px;
  text-align: center;

}
.boton-continuar:hover{
  background-color: rgb(197, 120, 5);
}
.boton-continuar:active{
  transform: scale(.99);
}


.section-right{
  width: 449px;
  height: 1430px;
  background-color: whitesmoke;
  position: absolute;
  margin-left: 900px;
  z-index: 1;

}

.beneficio{
  margin-top: 390px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.cont-avanza{
  width: 250px;
  height: 250px;
  margin-left: 25px;
  margin-top: 60px;
  position: absolute;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.cont-instruccion{
  width: 250px;
  height: 250px;
  margin-left: 25px;
  margin-top: 350px;
  position: absolute;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.cont-mas{
  width: 250px;
  height: 250px;
  margin-left: 25px;
  margin-top: 650px;
  position: absolute;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.tit-estrella{
  font-family : "Avenir Next";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.des-estrella{
  padding: 20px 20px 20px 20px;
  font-family : "Avenir Next";
  font-size: 12px;
  text-align: center;
}

.estrellas{
  margin-left: 50px;
  margin-top: -35px;
}


